<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="/styles/css/_style_product.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Teko&display=swap" rel="stylesheet">
    <title>Product</title>

</head>
<body>
<div class="head">
  <img class="head__userIcon"src="/images/UMIWA/Iconos/perfil.png" alt=""></a>

    <a class="head__umiwalogo"href="/"><img class="head_umiwalogoImage"src="/images/UMIWA/Iconos/umiwa_logo.png" alt=""></a>
  
  <div class="head__cart">
    <a class="cart__icon" href="/cart"><img src="/images/UMIWA/Iconos/carro.png" alt=""></a>
   <p class="cart__cant">{{cartLength}}</p>
   </div>
</div>
   {{{body}}}
  <footer class="footer">
                    
                <a href=""><img class="footer__image" src="/images/UMIWA/Inicio/final.png" alt=""></a>
                            
                            
                        </footer>


</body>
</html>